.Day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  border: 1px solid black;
  width: 80%;
  margin: 2rem auto;
  font-size: 0.8rem;
}

.DayHead {
  grid-area: 1/1/2/-1;
  background-color: #8F71F6;
}

.DayLeft {
  grid-area: 2/1/3/2;
  background-color: #ccc;
}

.DayRight {
  grid-area: 2/2/3/-1;
  background-color: #ccc;
}

@media(min-width: 767px) {
  .Day {
    width: 20%;
  }
}